{% extends 'auth_base.html' %}
{% load static i18n bootstrap5 %}
{% block title %}
    Forget password
{% endblock title %}


{% block content %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-lg-0">
                <img src="{% static '1.png'%}" class="w-100"/>
            </div>
        </div>
        <div class="row">
            {% if request.GET.m == "s" %}
                <div class="col-lg-6  mx-auto mt-5 mt-lg-0 pt-5">
                    <p class="text-center mb-5 card py-3" style="background:none;border-color:#cda45e;">
                        Password reset link is sent to your email check your inbox immediately ..</p>
                </div>
            {% elif request.GET.m == "e" %}
                <div class="col-lg-6  mx-auto mt-5 mt-lg-0 pt-5">
                    <p class="text-center text-danger card mb-5 py-3" style="background:none;border-color:#cda45e;">Someting went wrong please enter your email again</p>
                </div>
            {% else %}
            <div class="col-lg-4 mx-auto mt-5 mt-lg-0 pt-5">
                <form action="" id="send-email-form" method="post" class="php-email-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-center my-3"><button type="submit">{% trans 'Reset' %}</button></div>
                    <div class="text-center text-muted">{% trans "If you don't have an account " %} <a href="{% url 'restu:client_register' %}">{% trans ' sign up now ' %}</a></div>
                    <div class="text-center text-muted">{% trans "If you forgot your password " %} <a href="">{% trans ' reset it now ' %}</a></div>
                </form>
            </div>  
            {% endif %}

        </div>
    </div>
  </section>
{% endblock content %}
    
    