{% extends 'auth_base.html' %}
{% load static i18n bootstrap5 %}
{% block title %}
    {% trans 'Reset password' %}
{% endblock title %}


{% block content %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-lg-0">
                <img src="{% static '1.png'%}" class="w-100"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto mt-5 mt-lg-0">
            <h1 class="py-3 text-center" style="font-family:inherit">{% trans 'Reset Password' %}</h1>
            <form action="" id="send-email-form" method="post" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" name="new_password" class="form-control" id="name" placeholder="{% trans 'New password' %}" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="password" name="confirm_new_password" class="form-control" id="name" placeholder="{% trans 'New password confirmation' %}" required>
                    </div>
                </div>
                <div class="text-center my-3"><button type="submit">{% trans 'Save' %}</button></div>
                <div class="text-center text-muted">{% trans "If you remember your password " %} <a href="{% url 'restu:client_login' %}">{% trans ' login now ' %}</a></div>
            </form>

            </div>         
        </div>
    </div>
  </section>
{% endblock content %}
    
    