{% extends 'auth_base.html' %}
{% load static i18n bootstrap5 %}
{% block title %}
     {% trans 'my dish' %}
{% endblock title %}

{% block extre_head_urls %}
{% endblock extre_head_urls %}

{% block content %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-lg-0">
                <img src="{% static '1.png'%}" class="w-100"/>
            </div>
        </div>
    
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
    
        <div class="row mb-5" style="">
            <div class="col-md-10 card mx-auto p-5" style="background:none;border-color:#cda45e;">
                <div class="row">
                    <div class="col-md-8 mb-5">
                        <a href="/#menu" class="mb-5"><i class="fa fa-arrow-left" style="position: relative; top:2px; right:3px;" aria-hidden="true"></i>{% trans 'Menu' %}</a>
                        <div class="mt-5"></div>
                        {% if cart.resturantmenucart_set.all %}
                        <ul class=" pr-5">
                            <p style="border-bottom:2px solid #cda45e;padding-bottom:8px;"><strong>{% trans 'Your dish content' %}</strong></p>
                            {% for cp in cart.resturantmenucart_set.all  %}
                            <li class="" style="list-style: none;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{cp.item.title_en}}
                                            </div>
                                            <div class="col-md-4">
                                                {{cp.quantity}} item
                                            </div>
                                            <div class="col-md-2">
                                                {% trans 'O.R' %} {{cp.rate}}
                                            </div>
                                            
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="row" style = "display:flex;">
                                            <div class="col-md-12">
                                                <a href="{% url 'restu:manage_cart' cp.id%}?action=acr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-plus"></i> </a>
                                                <a href="{% url 'restu:manage_cart' cp.id%}?action=dcr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-minus"></i> </a>
                                                <a href="{% url 'restu:manage_cart' cp.id%}?action=rcr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-trash"></i> </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                       
                        {% else %}
                            <p class="text-center mt-5" style="font-size:22px">{% trans 'There are no Items in your Dish' %}</p>
                            <p class="text-center" style="font-size:100px">👨‍🍳</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <img src="{% static '2.png' %}" class="" style="width:100%;" alt="">
                        <div class="text-buttom">
                            <p style="padding-bottom: 5px; border-bottom: 2px solid;"><strong>{% trans 'Dish Total' %}</strong></p>
                            {% if cart %}
                            <p>{% trans 'R.O' %} {{cart.total}}</p>
                            {% else %}
                            <p>{% trans 'R.O' %} 00.0</p>
                            {% endif %}
                            {% if cart.resturantmenucart_set.all %}
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <a class="btn btn-dark "  style="width:100%" href="{% url 'restu:check_out'%}"><i class="fa fa-money-check-alt mx-2"></i> {% trans 'Check Out' %}</a>
                                </div>
                                <div class="col-md-12">
                                    <a class="btn btn-danger" style="width:100%"  href="{% url 'restu:empty_cart'%}"><i class="fa fa-trash"></i> {% trans 'Empty Cart' %}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
    {% else %}
    <div class="row mb-5" style="">
        <div class="col-md-10 card mx-auto p-5" style="background:none;border-color:#cda45e;">
            <div class="row">
                <div class="col-md-8 mb-5">
                    <a href="/#menu" class="mb-5">{% trans 'Menu' %} <i class="fa fa-arrow-left" style="position: relative; top:2px; right:3px;" aria-hidden="true"></i></a>
                    <div class="mt-5"></div>
                    {% if cart.resturantmenucart_set.all %}
                    <ul class=" pr-5">
                        <p style="border-bottom:2px solid #cda45e;padding-bottom:8px;"><strong>{% trans 'Your dish content' %}</strong></p>
                        {% for cp in cart.resturantmenucart_set.all  %}
                        <li class="" style="list-style: none;">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{cp.item.title_ar}}
                                        </div>
                                        <div class="col-md-4">
                                            {{cp.quantity}} {% trans 'item' %}
                                        </div>
                                        <div class="col-md-2">
                                            {% trans 'R.O' %} {{cp.rate}}
                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="row" style = "display:flex;">
                                        <div class="col-md-12">
                                            <a href="{% url 'restu:manage_cart' cp.id%}?action=acr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-plus"></i> </a>
                                            <a href="{% url 'restu:manage_cart' cp.id%}?action=dcr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-minus"></i> </a>
                                            <a href="{% url 'restu:manage_cart' cp.id%}?action=rcr" type="button" class="col-md-3"> <i style="font-size:18px;" class="fa fa-trash"></i> </a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                   
                    {% else %}
                        <p class="text-center mt-5" style="font-size:22px">{% trans 'There are no Items in your Dish' %}</p>
                        <p class="text-center" style="font-size:100px">👨‍🍳</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <img src="{% static '2.png' %}" class="" style="width:100%;" alt="">
                    <div class="text-buttom">
                        <p style="padding-bottom: 5px; border-bottom: 2px solid;"><strong>{% trans 'Dish Total' %}</strong></p>
                        {% if cart %}
                        <p>{% trans 'R.O' %}  {{cart.total}}</p>
                        {% else %}
                        <p>{% trans 'R.O' %}  00.0</p>
                        {% endif %}
                        {% if cart.resturantmenucart_set.all %}
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <a class="btn btn-dark "  style="width:100%" href="{% url 'restu:check_out'%}"><i class="fa fa-money-check-alt mx-2"></i> {% trans 'Check Out' %}</a>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-danger" style="width:100%"  href="{% url 'restu:empty_cart'%}"><i class="fa fa-trash"></i> {% trans 'Empty Dish' %}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
     
    {% endif %}
    </div>
  </section>
{% endblock content %}