{% load static i18n %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 pt-5">
            <div class="footer-info">
              {% get_current_language as LANGUAGE_CODE %}

              {% if LANGUAGE_CODE == 'en' %}
              
              {% if resturant.title_en %}
                <h1>{{resturant.title_en|title}}</h1>
              {% else %}
                <h1>{% trans 'Resturant Name' %}</h1>
              {% endif %}
              
              {% if resturant.description_en %}
                <p style="width:50%;">
                  {{resturant.description_en|slice:"0:150"}} ...
                </p>
              {% else %}
                <p style="width:50%;">
                  {% trans 'Resturant Description' %}
                </p>
              {% endif %}
              <br>
              <p>
                {% if resturant.address_en %}
                  <strong>Address:</strong> {{resturant.address_en}}   <br>
                {% else %}
                  <strong>Address:</strong> {% trans 'Resturant Address' %}   <br>
                {% endif %}

                {% if resturant.phone_num %}
                  <strong>Phone:  </strong> {{resturant.phone_num}}    <br>
                {% else %}
                  <strong>Phone:  </strong> {% trans 'Resturant Phone Number' %}    <br>
                {% endif %}

                {% if resturant.email_address %}
                  <strong>Email:  </strong> {{resturant.email_address}}<br>
                {% else %}
                  <strong>Email:  </strong> {% trans 'Resturant Email Address' %}<br>
                {% endif %}
              </p>
              {% else %}

              {% if resturant.title_ar %}
                <h1 style="font-weight:600;">{{resturant.title_ar}}</h1>
              {% else %}
                <h1 style="font-weight:600;">{% trans 'Resturant Name' %}</h1>
              {% endif %}

              {% if resturant.description_ar %}
                <p style="width:50%;">
                  {{resturant.description_ar|slice:"0:150"}} ...
                </p>
              {% else %}
                <p style="width:50%;">
                  {% trans 'Resturant Description' %}
                </p>
              {% endif %}
              <br>
              <p>
                {% if resturant.address_ar %}
                  <strong>{% trans 'Address' %} :</strong> {{resturant.address_ar}}   <br>
                {% else %}
                  <strong>{% trans 'Address' %} :</strong> {% trans 'Resturant Address' %}   <br>
                {% endif %}

                {% if resturant.phone_num %}
                  <strong>{% trans 'Phone' %} :  </strong> {{resturant.phone_num}}    <br>
                {% else %}
                  <strong>{% trans 'Phone' %} :  </strong> {% trans 'Resturant Phone Number' %}    <br>
                {% endif %}

                {% if resturant.email_address %}
                  <strong>{% trans 'Email' %} :  </strong> {{resturant.email_address}}<br>
                {% else %}
                  <strong>{% trans 'Email' %} :  </strong> {% trans 'Resturant Email Address' %}<br>
                {% endif %}
              </p>
              {% endif %}
              <div class="social-links mt-3">
                <a href="{% if resturant.twitter_url %}{{resturant.twitter_url}}{% else %}#{% endif %}" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="{% if resturant.facebook_url %}{{resturant.facebook_url}}{% else %}#{% endif %}" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="{% if resturant.instgram_url %}{{resturant.instgram_url}}{% else %}#{% endif %}" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="{% if resturant.youtube_url %}{{resturant.youtube_url}}{% else %}#{% endif %}" class="youtube"><i class="bx bxl-snapchat"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <img src="{% static '1.png' %}" class="w-100"/>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
