{% load static i18n %}
 <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container ">
   
          <div class="row">
            <div class="col-md-10">
              {% if request.user.resturantclient %}
          <a href="" class="account-link mx-3 text-white">
            <i class="fa fa-user text-white" aria-hidden="true"></i>
            <span class="">
                {{request.user.username}}
            </span>
          </a>
          {%else%}

            <a href="{% url 'restu:client_register'%}" class="account-link text-white">
              <i class="fas fa-user-plus text-white"></i>
            <span class="mx-1">
                {% trans 'Register' %}
            </span>
            </a>
            <a href="{% url 'restu:client_login'%}" class="account-link">
               <i class="fas fa-sign-in-alt text-white"></i>
                <span class="mx-1 text-white">
                    {% trans 'Login' %}
                </span>
            </a>
            <a href="{% url 'restu:admin_login'%}" class="account-link">
              <i class="fas fa-sign-in-alt text-white"></i>
               <span class="mx-1 text-white">
                   {% trans 'Login as admin' %}
               </span>
           </a>
           {%endif%}
          
          {% if user.is_authenticated and request.user.resturantclient%}
            <a href="{% url 'restu:my_cart' %}" class="cart-link">
              <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
              <span class="mx-3">
                
              </span>
            </a>
            <a href="{% url 'restu:client_logout' %}"><i class="fas fa-power-off text-white"></i></a>
          {%endif%}
            </div>
            <div class="col-md-2 text-center">
              <div class="languages">
                <ul style="display:flex;position:relative;top:10px;">
                  {% if LANGUAGE_CODE == 'en' %}
                  <li><form  action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for available_languages as languages %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                    <input name="language" type="hidden" value="ar" />
                    <button type="submit" style="background: none;outline: none;border: none;color:#fff;position: relative;bottom: 10px;left: 10px;" class="">Ar</button>
                  </form></li>
                  {% else %}
                  <li><form  action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for available_languages as languages %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                    <input name="language" type="hidden" value="en" />
                    <button type="submit" style="background: none;outline: none;border: none;color:#fff;position: relative;bottom: 10px;" class="">En</button>
                  </form></li>
                  {% endif %}
                </ul>
                </div>
        </div>
      </div>

      
    </div>
  </div>
  {% get_current_language as LANGUAGE_CODE %}
  
  
    
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      {% if LANGUAGE_CODE == 'en' %}
        <h1 class="logo me-auto me-lg-0">
          {% if resturant.title_en %}
            <a href="/"><img src="{% static '1.png' %}" class="w-100"/></a>
            {% else %}
            <a href="/">{% trans 'Resturant Logo' %}</a>
          {% endif %}
        </h1>
        {% else %}
        <h1 class="logo me-auto me-lg-0">
          {% if resturant.title_ar %}
            <a href="/"><img src="{% static '1.png' %}"/></a>
          {% else %}
            <a href="/">{% trans 'Resturant Logo' %}</a>
          {% endif %}
        </h1>
      {% endif %}
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static '' %}img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{% trans 'Home' %}</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#about">{% trans 'About' %}</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="#menu">{% trans 'Menu' %}</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#specials">{% trans 'Specials' %}</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="#gallery">{% trans 'Gallery' %}</a></li>
          <li><a class="nav-link scrollto" href="#contact">{% trans 'Contact' %}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">{% trans 'Book a table' %}</a>

    </div>
  </header><!-- End Header -->
  
 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url('{% if home_bg %}{{home_bg.image.url}}{% else %}../img/hero-bg.jpg{% endif %}') top center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          {% if LANGUAGE_CODE == 'en' %}
            {% if resturant.title_en %}
              <h1>Welcome to <span>{{resturant.title_en|title}}</span></h1>
            {% else %}
              <h1>Welcome to <span>{% trans 'Resturant Name' %}</span></h1>
            {% endif %}

            {% if resturant.opening_sentence_en %}
              <h2>{{resturant.opening_sentence_en|title}}! </h2>
            {% else %}
              <h2>{% trans 'Resturant Opening Sentence' %}! </h2>
            {% endif %}
            <div class="btns">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto">{% trans 'Our Menu' %}</a>
              <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">{% trans 'Book a Table' %}</a>
            </div>
          {% else %}
            <h1 class="text-right start-0" style="text-align:right">{% trans 'Welcome to ' %}
              {% if resturant.title_ar %}
              <span> {{resturant.title_ar}}</span>
              {% else %}
              <span> {% trans 'Resturant Name' %}</span>
              {% endif %}
            </h1>
            <h2 class="text-right start-0" style="text-align:right">
              {% if resturant.opening_sentence_ar %}
                {{resturant.opening_sentence_ar}}
              {% else %}
                {% trans 'Resturant Opening Sentence' %}
              {% endif %}
            </h2>
            <div class="btns" style="text-align:right">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto">{% trans 'Our Menu' %}</a>
              <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">{% trans 'Book a Table' %}</a>
            </div>
          {% endif %}
          
  
        </div>
        

      </div>
    </div>
  </section><!-- End Hero -->
