<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == 'en' %}
<html lang="en" dir='ltr'>
{% else %}
<html lang="ar" dir='rtl'>
{% endif %}

<head>
  <title>{% block title %}{% endblock title %}</title>
  {% include 'snippets/head.html' %}
  {% block extre_head_urls %}{% endblock extre_head_urls %}
</head>
<body>
  {% include 'snippets/header.html' %}
  <main id="main">{% block content %}{% endblock content %}</main>
  {% include 'snippets/footer.html' %}
  {% include 'snippets/scripts.html' %}
  {% block extre_scripts_urls %}{% endblock extre_scripts_urls %}
</body>
</html>