{% extends 'base.html' %}
{% load static i18n bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% trans 'BABA VOSS' %}
{% endblock title %}

{% block content %}
      
      <!-- ======= About Section ======= -->
      {% comment %} <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                
                {% if about_resturant.image %}
                <img src="{{about_resturant.image.url}}" alt="">               
                {% else %}
                <img src="{% static '' %}img/about.jpg" alt="">
                {% endif %}
                  
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              {% if LANGUAGE_CODE == 'en' %}
                {% if about_resturant.title_en %}
                  <h3 class="mb-5">{{about_resturant.title_en|title}}</h3>
                {% else %}
                  <h3 class="mb-5">Resturant Title Place </h3>
                {% endif %}
                {% if about_resturant.description_en %}
                  <p style="line-height:40px;" class="fst-italic">{{about_resturant.description_en}}</p>
                {% else %}
                  <p style="line-height:40px;" class="fst-italic">Resturant Place Description</p>
                {% endif %}
              {% else %}
              {% if about_resturant.title_ar %}
                  <h3 class="mb-5">{{about_resturant.title_ar}}</h3>
                {% else %}
                  <h3 class="mb-5">{% trans "Resturant Title Place" %} </h3>
                {% endif %}
                {% if about_resturant.description_ar %}
                  <p style="line-height:40px;" class="fst-italic">{{about_resturant.description_ar}}</p>
                {% else %}
                  <p style="line-height:40px;" class="fst-italic">{% trans "Resturant Place Description" %}</p>
                {% endif %}
              {% endif %}

            </div>
          </div>
  
        </div>
      </section> {% endcomment %}
      <!-- End About Section -->
  
      <!-- ======= Why Us Section ======= -->
      {% comment %} <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{% trans "Why Us" %}</h2>
            <p>{% trans "Why Choose Our Restaurant" %}</p>
          </div>
  
          <div class="row">
            {% if whyus_resturant|length > 0 %}
              {% for quote in whyus_resturant|slice:":3"  %}
                <div class="col-lg-4 mt-4 mt-lg-0">
                  <div class="box" data-aos="zoom-in" data-aos-delay="100" style="height:300px">
                    <span>0{{forloop.counter}}</span>
                    {% if LANGUAGE_CODE == 'en' %}
                      {% if quote.title_en %}
                        <h4>{{quote.title_en|title}}</h4>
                      {% else %}
                        <h4>why us quote title</h4>
                      {% endif %}
                      {% if quote.description_en %}
                        <p>{{quote.description_en}}</p>
                      {% else %}
                        <p>why us quote description</p>
                      {% endif %}
                    {% else %}
                      {% if quote.title_ar %}
                        <h4>{{quote.title_ar}}</h4>
                      {% else %}
                        <h4>{% trans "why us quote title" %}</h4>
                      {% endif %}
                      {% if quote.description_ar %}
                        <p>{{quote.description_ar}}</p>
                      {% else %}
                        <p>{% trans "why us quote description" %}</p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}    
            {% else %}
              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <span>01</span>
                  <h4>{% trans "why us quote title" %}</h4>
                  <p>{% trans "why us quote description" %}</p>
                </div>
              </div>
            {% endif %}
          </div>
  
        </div>
      </section> {% endcomment %}
      <!-- End Why Us Section -->
  
      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{% trans 'Menu' %}</h2>
            <p>{% trans 'Check Our Tasty Menu' %}</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <li data-filter="*" class="filter-active">{% trans 'All' %}</li>
                {% if LANGUAGE_CODE == 'en' %}
                  {% if category_menu_rest|length > 0 %}
                    {% for cat in category_menu_rest  %}
                      <li data-filter=".filter-{{cat.title_en}}">{{cat.title_en|title}}</li>
                    {% endfor %}
                  {% else %}
                    <li data-filter=".filter-salads">{% trans 'Category' %}</li>
                  {% endif %}
                {% else %}
                  {% if category_menu_rest|length > 0 %}
                    {% for cat in category_menu_rest  %}
                      <li data-filter=".filter-{{cat.title_en}}">{{cat.title_ar|title}}</li>
                    {% endfor %}
                  {% else %}
                    <li data-filter=".filter-salads">{% trans 'Category' %}</li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-10 mx-auto">
              {% if LANGUAGE_CODE == 'en' %}
                {% if category_menu_rest|length > 0 %}
                  <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                    {% for cat in category_menu_rest  %}
                    
                      {% for item in cat.resturantmenu_set.all  %}
                          <div class="col-lg-6 menu-item filter-{{cat.title_en}}">
                            <div class="row">
                              
                              <div class="col-md-12 mx-3 pt-3">
                                {% if request.user.is_superuser %}
                                <div class="row">
                                  <div class="col-md-10" style="display:flex">
                                    <div class="right mx-3 mt-3">
                                      {% if item.image %}
                                    <img src="{{item.image.url}}" class="" style="width:100px;height:100px;"/>
                                    {% endif %}
                                    </div>
                                    <div class="left pt-2">
                                      <a href="{% url 'restu:client_register' %}" class="" >
                                        <p class="text-left text-white" style="text-align:left;font-size:20px;font-weight: 600;"> {% if item.title_en %}{{item.title_en}}{% else %}{% trans 'Menu Item Title' %}{% endif %}
                                          <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px">{% trans 'Large  Size : ' %}{% if item.price %}{{item.price}} R.O {% else %} 0.000 R.O{% endif %}</p>
                                          {% if item.mediam_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:client_register' %}">{% trans 'Mediam Size : ' %}{{item.mediam_price}} R.O</a></p>
                                          {% endif %}
                                          {% if item.small_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:client_register' %}">{% trans 'Small  Size : ' %}{{item.small_price}} R.O</a></p> 
                                          {%endif%}                                          
                                          <p class="text-muted" style="font-size:15px;font-weight: 600;margin-top:-15px">{% if item.description_en %}{{item.description_en}}{% endif %}</p>
                                        </p> 
                                      </a>
                                    </div>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                                  
                                {% else %}
                                    <div class="row">
                                      <div class="col-md-10" style="display:flex">
                                        <div class="right mx-3 mt-3">
                                          {% if item.image %}
                                          <img src="{{item.image.url}}" class="" style="width:100px;height:100px;"/>
                                        {% endif %}
                                        </div>
                                        <div class="left pt-3">
                                          <a href="" class="" >
                                            <p class="text-left text-white" style="text-align:left;font-size:20px;font-weight: 600;"> {% if item.title_en %}{{item.title_en}}{% else %}{% trans 'Menu Item Title' %}{% endif %}
                                              <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=l" type="button">{% trans 'Large  Size : ' %}{% if item.price %}{{item.price}} R.O {% else %} 0.000 R.O{% endif %}</a></p>
                                              {% if item.mediam_price > 0.000 %}
                                                <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=m" type="button">{% trans 'Mediam Size : ' %}{{item.mediam_price}} R.O</a></p>
                                              {% endif %}
                                              {% if item.small_price > 0.000 %}
                                                <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=s" type="button">{% trans 'Small  Size : ' %}{{item.small_price}} R.O</a></p> 
                                              {%endif%}
                                              <p class="text-muted" style="font-size:15px;font-weight: 600;margin-top:-15px">{% if item.description_en %}{{item.description_en}}{% endif %}</p>     
                                            </p> 
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-md-2"></div>
                                    </div>
                                {% endif %}
                              </div>
                              
                            </div>
                          </div>
                      {% endfor %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% else %}
            {% if category_menu_rest|length > 0 %}
              <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                {% for cat in category_menu_rest  %}
                
                  {% for item in cat.resturantmenu_set.all  %}
                      <div class="col-lg-6 menu-item filter-{{cat.title_en}}">
                        <div class="row">
                          
                          <div class="col-md-12 mx-3 pt-3">
                            {% if request.user.is_superuser %}
                            <div class="row">
                              <div class="col-md-10" style="display:flex">
                                <div class="right mx-3 mt-4">
                                  {% if item.image %}
                                  <img src="{{item.image.url}}" class="" style="width:100px;height:100px;"/>
                                {% endif %}
                                </div>
                                <div class="left pt-3">
                                  <a href="{% url 'restu:client_register' %}" class="" >
                                    <p class="text-white text-right" style="font-size:20px;font-weight: 600;"> {% if item.title_ar %}{{item.title_ar}}{% else %}{% trans 'Menu Item Title' %}{% endif %}
                                      <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px">{% trans 'Large  Size : ' %}{% if item.price %}{{item.price}} ريال {% else %} 0.000 ريال{% endif %}</p>
                                          {% if item.mediam_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=m" type="button">{% trans 'Mediam Size : ' %}{{item.mediam_price}} ريال </p>
                                          {% endif %}
                                          {% if item.small_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=s" type="button">{% trans 'Small  Size : ' %}{{item.small_price}} ريال</p>     
                                          {%endif%}
                                      <p class="text-muted" style="font-size:15px;font-weight: 600;margin-top:-15px">{% if item.description_ar %}{{item.description_ar}}{% endif %}</p>             
                                    </p> 
                                  </a>
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                            </div>
                              
                            {% else %}
                                <div class="row">
                                  <div class="col-md-10" style="display:flex">
                                    <div class="right mx-3 mt-4">
                                      {% if item.image %}
                                      <img src="{{item.image.url}}" class="" style="width:100px;height:100px;"/>
                                    {% endif %}
                                    </div>
                                    <div class="left pt-3">
                                      <a href="" class="" >
                                        <p class="text-right text-white" style="font-size:20px;font-weight: 600;"> {% if item.title_ar %}{{item.title_ar}}{% else %}{% trans 'Menu Item Title' %}{% endif %}
                                          <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=l" type="button">{% trans 'Large  Size : ' %}{% if item.price %}{{item.price}} ريال {% else %} 0.000 ريال{% endif %}</p>
                                          {% if item.mediam_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=m" type="button">{% trans 'Mediam Size : ' %}{{item.mediam_price}} ريال </p>
                                          {% endif %}
                                          {% if item.small_price > 0.000 %}
                                            <p class="" style="color: #cda45e;font-size:15px;font-weight: 600;margin-top:-15px"><a href="{% url 'restu:add_to_cart' item.id %}?action=s" type="button">{% trans 'Small  Size : ' %}{{item.small_price}} ريال </p>     
                                          {%endif%}
                                          <p class="text-muted" style="font-size:15px;font-weight: 600;margin-top:-15px">{% if item.description_en %}{{item.description_en}}{% endif %}</p>    
                                        </p> 
                                      </a>
                                    </div>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                            {% endif %}
                          </div>
                          
                        </div>
                      </div>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
          {% endif %}
            </div>
          </div>
        </div>
      </section><!-- End Menu Section -->
  
      <!-- ======= Specials Section ======= -->
      {% comment %} <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{% trans "Specials" %}</h2>
            <p>{% trans "Check Our Specials" %}</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                {% if special_resturant|length > 0 %}
                  {% for special in special_resturant  %}
                    {% if LANGUAGE_CODE == 'en' %}
                      {% if special.category_en %}
                        <li class="nav-item">
                          <a class="nav-link {% if forloop.first %} active show {% endif %}" data-bs-toggle="tab" href="#tab-{{forloop.counter}}">{{special.category_en}}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link {% if forloop.first %} active show {% endif %}" data-bs-toggle="tab" href="#tab-{{forloop.counter}}">{% trans "Special English Category" %}</a>
                        </li>
                      {% endif %}
                    {% else %}
                      {% if special.category_ar %}
                        <li class="nav-item">
                          <a class="nav-link {% if forloop.first %} active show {% endif %}" data-bs-toggle="tab" href="#tab-{{forloop.counter}}">{{special.category_ar}}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link {% if forloop.first %} active show {% endif %}" data-bs-toggle="tab" href="#tab-{{forloop.counter}}">{% trans "Special Arabic Category" %}</a>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}      
                {% else %}
                    {% if LANGUAGE_CODE == 'en' %}
                      <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">{% trans "Special English Category" %}</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">{% trans "Special Arabic Category" %}</a>
                      </li>
                    {% endif %}
                {% endif %}
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                {% if special_resturant|length > 0 %}
                  {% for special in special_resturant  %}
                    {% if LANGUAGE_CODE == 'en' %}
                      <div class="tab-pane {% if forloop.first %} active show {% endif %}" id="tab-{{forloop.counter}}">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                            {% if special.title_en %}
                              <h3>{{special.title_en}}</h3>
                            {% else %}
                              <h3>{% trans 'Special English Title' %}</h3>
                            {% endif %}
                            {% if special.description_en %}
                              <p class="fst-italic">{{special.description_en}}</p>
                            {% else %}
                              <p class="fst-italic">{% trans 'Special English Description' %}</p>
                            {% endif %}
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                            {% if special.image %}
                              <img src="{{special.image.url}}" alt="" class="img-fluid">
                            {% else %}
                              <img src="{% static '' %}img/specials-1.png" alt="" class="img-fluid">
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="tab-pane {% if forloop.first %} active show {% endif %}" id="tab-{{forloop.counter}}">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                            {% if special.title_ar %}
                              <h3>{{special.title_ar}}</h3>
                            {% else %}
                              <h3>{% trans 'Special Arabic Title' %}</h3>
                            {% endif %}
                            {% if special.description_ar %}
                              <p class="fst-italic">{{special.description_ar}}</p>
                            {% else %}
                              <p class="fst-italic">{% trans 'Special Arabic Description' %}</p>
                            {% endif %}
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                            {% if special.image %}
                              <img src="{{special.image.url}}" alt="" class="img-fluid">
                            {% else %}
                              <img src="{% static '' %}img/specials-1.png" alt="" class="img-fluid">
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                    {% if LANGUAGE_CODE == 'en' %}
                      <div class="tab-pane active show " id="tab-1">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>{% trans 'Special English Title' %}</h3>
                              <p class="fst-italic">{% trans 'Special English Description' %}</p>
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="{% static '' %}img/specials-1.png" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="tab-pane active show " id="tab-1">
                        <div class="row">
                          <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>{% trans 'Special Arabic Title' %}</h3>
                              <p class="fst-italic">{% trans 'Special Arabic Description' %}</p>
                          </div>
                          <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="{% static '' %}img/specials-1.png" alt="" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
  
        </div>
      </section> {% endcomment %}
      <!-- End Specials Section -->
  
  
      <!-- ======= Book A Table Section ======= -->
      <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{% trans 'Reservation' %}</h2>
            <p>{% trans 'Book a Table' %}</p>
          </div>
  
          <form action="/" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" name="full_name" class="form-control" id="name" placeholder="{% trans 'Your Name' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email_address" id="email" placeholder="{% trans 'Your Email' %}" data-rule="email" data-msg="Please enter a valid email">
                
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="phone_number" id="phone" placeholder="{% trans 'Phone Number' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="text" name="date" class="form-control" id="date" placeholder="{% trans 'Date' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="text" class="form-control" name="time" id="time" placeholder="{% trans 'Time' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="number" class="form-control" name="number_of_people" id="people" placeholder="{% trans 'Number of people' %}" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="{% trans 'Message' %}"></textarea>
              
            </div>
            
            <div class="text-center"><button type="submit">{% trans 'Book a Table' %}</button></div>
          </form>
  
        </div>
      </section>
      <!-- End Book A Table Section -->
  
  
      <!-- ======= Gallery Section ======= -->
      <section id="gallery" class="gallery">
  
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>{% trans 'Gallery' %}</h2>
            <p>{% trans 'Some photos from Our Restaurant' %}</p>
          </div>
        </div>
  
        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-0">
            {% if galary_resturant|length > 0 %}
              {% for galary in galary_resturant %}
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  {% if galary.image %}
                    <a href="{{galary.image.url}}" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="{{galary.image.url}}" alt="" style="height:250px;width:98%" class="img-fluid">
                    </a>
                  {% else %}
                    <a href="{% static '' %}img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="{% static '' %}img/gallery/gallery-1.jpg" alt="" style="height:250px;width:98%" class="img-fluid">
                    </a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}  
            {% else %}
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="{% static '' %}img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static '' %}img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            {% endif %}
  
  
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->
  

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Contact' %}</h2>
          <p>{% trans 'Contact Us' %}</p>
        </div>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              {% if LANGUAGE_CODE == 'en' %}
                <div class="address">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Location' %} :</h4>
                      <p>{% if resturant.address_en %}{{resturant.address_en}}{% else %}{% trans 'Resturant Location' %}{% endif %}</p>
                    </div>
                  </div>
                </div>

                <div class="email">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-envelope"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Email' %} :</h4>
                      <p>{% if resturant.email_address %}{{resturant.email_address}}{% else %}{% trans 'Resturant Email Address' %}{% endif %}</p>
                    </div>
                  </div>
                </div>

                <div class="phone">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-phone"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Call' %} :</h4>
                      <p>{% if resturant.phone_num %}{{resturant.phone_num}}{% else %}{% trans 'Resturant Phone Number' %}{% endif %}</p>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="address">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Location' %} :</h4>
                      <p>{% if resturant.address_ar %}{{resturant.address_ar}}{% else %}{% trans 'Resturant Location' %}{% endif %}</p>
                    </div>
                  </div>
                </div>

                <div class="email">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-envelope"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Email' %} :</h4>
                      <p>{% if resturant.email_address %}{{resturant.email_address}}{% else %}{% trans 'Resturant Email Address' %}{% endif %}</p>
                    </div>
                  </div>
                </div>

                <div class="phone">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="bi bi-phone"></i>
                    </div>
                    <div class="col-md-11 pt-3">
                      <h4>{% trans 'Call' %} :</h4>
                      <p>{% if resturant.phone_num %}{{resturant.phone_num}}{% else %}{% trans 'Resturant Phone Number' %}{% endif %}</p>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/" id="send-email-form" method="post" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="{% trans 'Your Name' %}" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Your Email' %}" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans 'Subject' %}" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="{% trans 'Message' %}" required></textarea>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Send Message' %}</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->
  
    <script>
      var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
      var alertTrigger = document.getElementById('liveAlertBtn')

      function alert(message, type) {
        var wrapper = document.createElement('div')
        wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

        alertPlaceholder.append(wrapper)
      }

      if (alertTrigger) {
        alertTrigger.addEventListener('click', function () {
          alert('Nice, you triggered this alert message!', 'success')
        })
      }
    </script>

{% endblock content %}
    
